@import "fonts.css";
@import "mixins";

$color-magenta: #ec008c;
$color-light-grey: #eee;
$color-translucent-black: rgba(black, 0.05);
$color-white: #fff;
$color-black-grey: #676767;
$color-black: #232323;

html {
  font-size: 62.5%;
}

body {
  @include font-body-desktop();
  color: $color-white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
