@media (min-width: 786px) and (max-width: 822px) {
  .hugeinc-header {
    font-size: 1.4rem;
    line-height: 4rem;
  }
}

@media (min-width: 823px) and (max-width: 940px) {
  .hugeinc-header {
    font-size: 1.6rem;
    line-height: 4rem;
  }
}

@media (min-width: 786px) and (max-width: 940px) {
  .hugeinc-header {
    .logo {
      height: 20px;
    }

    .branding {
      padding: 12px 20px;
    }
  }
}

@media (max-width: 786px) {

  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  .hugeinc-header {
    line-height: 3.2rem;
    @extend .clearfix;

    .mobile-menu {
      display: inline-block;
      float: left;
      transition: all 0.2s;
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);

      &.hide {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
      }
    }

    .logo {
      height: 20px;
    }

    .branding {
      padding: 12px;
      opacity: 0;
      float: left;
      transition: all 0.2s;
      -webkit-transform: translate3d(-200%, 0, 0);
      transform: translate3d(-200%, 0, 0);

      &.show {
        opacity: 1;
        -webkit-transform: translate3d(-70%, 0, 0);
        transform: translate3d(-70%, 0, 0);
      }
    }

    .close-button {
      display: inline-block;

      &.show {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
    }

    .nav-items {
      position: absolute;
      overflow: auto;
      top: 100%;
      left: 0;
      width: 80%;
      height: 100vh;
      background: $color-white;
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);

      &.mobile-show {
        // To prevent weird blurring, define transition here
        transition: all 0.2s;
        -webkit-transition: all 0.2s;
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }

      .expand, .collapse {
        border-right: 10px solid transparent;
        background-size: 30px;
      }

      .nav-item {
        display: block;

        .nav-item-link {
          color: $color-black;

          &.expand {
            background: rgba(0, 0, 0, 0) url('../images/expand-icon.svg') no-repeat right center;
            background-size: 30px;
            &:hover {
              background-color: $color-translucent-black;
            }
          }

          &.collapse {
            background: url('../images/collapse-icon.svg') no-repeat right center !important;
            background-size: 30px !important;
          }
        }
      }
    }

    .sub-nav-items {
      position: static;
      padding-left: 30px;
    }
  }
}