@import url(fonts.css);
html {
  font-size: 67%; }

.font-primary-nav, .hugeinc-header {
  font: 1.8rem/4.2rem HUGEAvantGardeBold; }

.font-secondary-nav, .hugeinc-header .sub-nav-items {
  font: 1.4rem/4.8rem Galaxie; }

.font-headline-desktop {
  font: 12rem/13.2rem HUGEAvantGardeBold; }

.font-headline-mobile {
  font: 4.4rem/4.8rem HUGEAvantGardeBold; }

.font-body-desktop, body {
  font: 2.4rem/3.6rem Galaxie; }

.font-body-mobile {
  font: 1.4rem/2.4rem Galaxie; }

.font-copyright {
  font: 1.2rem/1.6rem Helvetica Neue; }

body {
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.hugeinc-header {
  background: #ec008c;
  position: relative; }
  .hugeinc-header .nav-items, .hugeinc-header .sub-nav-items {
    list-style: none;
    margin: 0;
    padding: 0; }
  .hugeinc-header .branding {
    display: inline-block;
    padding: 12px 48px; }
  .hugeinc-header .logo {
    vertical-align: middle;
    height: 25px; }
  .hugeinc-header .menu-icon, .hugeinc-header .close-icon {
    vertical-align: middle;
    width: 50px; }
  .hugeinc-header .mobile-menu {
    display: none;
    padding: 5px; }
  .hugeinc-header .close-button {
    padding: 3px;
    float: right;
    display: none;
    opacity: 0;
    transition: all 0.2s;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  .hugeinc-header .nav-items {
    display: inline-block; }
    .hugeinc-header .nav-items .nav-item {
      display: inline-block;
      position: relative; }
      .hugeinc-header .nav-items .nav-item .nav-item-link {
        color: #fff;
        display: block;
        padding: 12px 24px;
        text-decoration: none; }
        .hugeinc-header .nav-items .nav-item .nav-item-link:hover {
          background: rgba(0, 0, 0, 0.05); }
    .hugeinc-header .nav-items .nav-item-link-active {
      background: #fff !important;
      color: #ec008c !important; }
  .hugeinc-header .sub-nav-items {
    background: #fff;
    color: #232323;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 200px;
    display: none; }
    .hugeinc-header .sub-nav-items.show {
      display: block; }
    .hugeinc-header .sub-nav-items .sub-nav-item-link {
      text-decoration: none;
      color: #232323;
      display: block;
      padding: 5px 20px; }
      .hugeinc-header .sub-nav-items .sub-nav-item-link:hover {
        background: rgba(0, 0, 0, 0.05);
        color: #ec008c; }

.headline {
  min-height: 80vh;
  background: #232323 url("../images/background-image.jpg") no-repeat; }

@media (min-width: 786px) and (max-width: 822px) {
  .hugeinc-header {
    font-size: 1.4rem;
    line-height: 4rem; } }
@media (min-width: 823px) and (max-width: 940px) {
  .hugeinc-header {
    font-size: 1.6rem;
    line-height: 4rem; } }
@media (min-width: 786px) and (max-width: 940px) {
  .hugeinc-header .logo {
    height: 20px; }
  .hugeinc-header .branding {
    padding: 12px 20px; } }
@media (max-width: 786px) {
  .clearfix:after, .hugeinc-header:after {
    content: "";
    display: table;
    clear: both; }

  .hugeinc-header {
    line-height: 3.2rem; }
    .hugeinc-header .mobile-menu {
      display: inline-block;
      float: left;
      transition: all 0.2s;
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
      .hugeinc-header .mobile-menu.hide {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0); }
    .hugeinc-header .logo {
      height: 20px; }
    .hugeinc-header .branding {
      padding: 12px;
      opacity: 0;
      float: left;
      transition: all 0.2s;
      -webkit-transform: translate3d(-200%, 0, 0);
      transform: translate3d(-200%, 0, 0); }
      .hugeinc-header .branding.show {
        opacity: 1;
        -webkit-transform: translate3d(-70%, 0, 0);
        transform: translate3d(-70%, 0, 0); }
    .hugeinc-header .close-button {
      display: inline-block; }
      .hugeinc-header .close-button.show {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0); }
    .hugeinc-header .nav-items {
      position: absolute;
      overflow: auto;
      top: 100%;
      left: 0;
      width: 80%;
      height: 100vh;
      background: #fff;
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0); }
      .hugeinc-header .nav-items.mobile-show {
        transition: all 0.2s;
        -webkit-transition: all 0.2s;
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0); }
      .hugeinc-header .nav-items .expand, .hugeinc-header .nav-items .collapse {
        border-right: 10px solid transparent;
        background-size: 30px; }
      .hugeinc-header .nav-items .nav-item {
        display: block; }
        .hugeinc-header .nav-items .nav-item .nav-item-link {
          color: #232323; }
          .hugeinc-header .nav-items .nav-item .nav-item-link.expand {
            background: transparent url("../images/expand-icon.svg") no-repeat right center;
            background-size: 30px; }
            .hugeinc-header .nav-items .nav-item .nav-item-link.expand:hover {
              background-color: rgba(0, 0, 0, 0.05); }
          .hugeinc-header .nav-items .nav-item .nav-item-link.collapse {
            background: url("../images/collapse-icon.svg") no-repeat right center !important;
            background-size: 30px !important; }
    .hugeinc-header .sub-nav-items {
      position: static;
      padding-left: 30px; } }

/*# sourceMappingURL=main.css.map */
